<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD8yeB0bV97AfYcG8d27ihfYCJTCltG3F8</string>
	<key>GCM_SENDER_ID</key>
	<string>325019059855</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fatihoguz.Photogram</string>
	<key>PROJECT_ID</key>
	<string>photogram-b3f32</string>
	<key>STORAGE_BUCKET</key>
	<string>photogram-b3f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:325019059855:ios:ac23b5a93f2ed25bfd12fa</string>
</dict>
</plist>